<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="  
       http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userSvr" class="com.dview.coreServer.service.impl.UserService">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	<bean id="devSvr" class="com.dview.coreServer.service.impl.DeviceService">
		<property name="devDAO" ref="devDAO"></property>
	</bean>
	<!-- <jaxws:endpoint id="coreWS" implementor="#userSvr" address="${service_url}" 
		/> -->
</beans>