<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="  http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<bean id="commonDAO" class="com.dview.coreServer.dao.impl.CommonDAO">
		<property name="dbModule" ref="dbModule" />
	</bean>
	<bean id="userDAO" class="com.dview.coreServer.dao.impl.UserDAO"
		parent="commonDAO" />
	<bean id="devDAO" class="com.dview.coreServer.dao.impl.DeviceDAO"
		parent="commonDAO" />

</beans>