<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="  
       http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       ">
	<bean id="httpModule" class="com.dview.coreServer.module.HttpModule">
	</bean>
	<bean id="coreModule" class="com.dview.coreServer.module.CoreModule"
		init-method="run">
		<property name="modules">
			<list>
				<ref bean="dbModule" />
				<ref bean="httpModule" />
			</list>
		</property>
	</bean>
</beans>